In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

# Create a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

import pandas as pd
# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Apply pandas.Series function on the list
series_from_list = pd.Series(data_list)
# Print the series
print(series_from_list)



Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.
Name

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print(df)

output:
    
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data
structure with labeled axes (rows and columns). It is similar to a table in a database or an Excel spreadsheet.
A Series, on the other hand, is a one-dimensional array-like structure with an associated array of data labels, called its index.

Differences:

Dimensionality: A Series is one-dimensional, while a DataFrame is two-dimensional.
Structure: A Series contains a single list of values, whereas a DataFrame contains multiple Series, one for each column.
Usage: A Series is typically used for a single column of data, while a DataFrame is used for multi-column data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
head(): To view the first few rows of the DataFrame.
tail(): To view the last few rows of the DataFrame.
describe(): To get a statistical summary of the DataFrame.
info(): To get a concise summary of the DataFrame.
drop(): To remove rows or columns.
loc[] and iloc[]: To access rows and columns by labels or positions.
groupby(): To group data by a specific column.
merge(): To combine two DataFrames.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Both Series and DataFrame are mutable in nature. You can change their content after they are created. 
However, Panel has been deprecated since Pandas version 0.25.0 and is no longer in use.

Q7. Create a DataFrame using multiple Series. Explain with an example.
To create a DataFrame using multiple Series, you can combine them into
a dictionary where the keys are the column names and the values are the Series.

In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female